@using Web_App_BMS.DTOs;
@model BranchDTO;

@{
    ViewData["Title"] = "Add a branch";
}

<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <h2>Add a branch</h2>
        <form asp-action="AddBranch" method="post">

            <div class="form-group">
                <label asp-for="BranchName">Branch name</label>
                <input type="text" class="form-control" id="text" placeholder="Enter branch name" asp-for="BranchName">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchName"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchAddress">Branch address</label>
                <input type="text" class="form-control" id="text" placeholder="Enter branch address" asp-for="BranchAddress">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchAddress"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchAssets">Branch assets</label>
                <input type="number" class="form-control" id="number" placeholder="Enter branch assets" asp-for="BranchAssets">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchAssets"></span>
                </h4>
            </div>

            @if (@Model != null && @Model.NotFoundPropertyMessage != null)
            {
                <h3 class="text-danger" role="alert">
                    <strong>
                        @Model.NotFoundPropertyMessage
                    </strong>
                </h3>
            }

            @if (@Model != null && @Model.BranchAlreadyExists != null)
            {
                <h3 class="text-danger" role="alert">
                    <strong>
                        @Model.BranchAlreadyExists
                    </strong>
                </h3>
            }

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>



</body>
</html>