@using Web_App_BMS.DTOs;
@model LoanPaymentDTO;

@{
    ViewData["Title"] = "Add a loan payment";
}

<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <h2>Add a loan payment</h2>
        <form asp-action="AddLoanPayment" method="post">

            <div class="form-group">
                <label asp-for="PaymentAmount">Payment amount</label>
                <input asp-for="PaymentAmount" class="form-control" id="text" placeholder="Enter payment amount">

                <h4 class="text-danger" role="alert">
                    <span id="error" asp-validation-for="PaymentAmount"></span>
                </h4>

            </div>

            <div class="form-group">
                <label asp-for="IssuedAmount">Issued amount</label>
                <input asp-for="IssuedAmount" class="form-control" id="text" placeholder="Enter issued amount">

                <h4 class="text-danger" role="alert">
                    <span id="error" asp-validation-for="IssuedAmount"></span>
                </h4>

            </div>

            <div class="form-group">
                <label asp-for="RemainingAmount">Remaining amount</label>
                <input type="text" class="form-control" id="text" placeholder="Enter remaining amount" asp-for="RemainingAmount">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="RemainingAmount"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="AccountBalance">Customer's account balance</label>
                <input type="number" class="form-control" id="number" placeholder="Enter account balance" asp-for="AccountBalance">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="AccountBalance"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="AccountType">Customer's account type</label>
                <input type="text" class="form-control" id="text" placeholder="Enter account type" asp-for="AccountType">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="AccountType"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchName">Branch name</label>
                <input type="text" class="form-control" id="text" placeholder="Enter branch name" asp-for="BranchName">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchName"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchAddress">Branch address</label>
                <input type="text" class="form-control" id="text" placeholder="Enter branch address" asp-for="BranchAddress">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchAddress"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchAssets">Branch assets</label>
                <input type="number" class="form-control" id="number" placeholder="Enter branch assets" asp-for="BranchAssets">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchAssets"></span>
                </h4>
            </div>
            @if (@Model != null && @Model.NotFoundPropertyMessage != null)
            {
                <h3 class="text-danger" role="alert">
                    <strong>
                        @Model.NotFoundPropertyMessage
                    </strong>
                </h3>
            }

            @if (@Model != null && @Model.LoanPaymentAlreadyExists != null)
            {
                <h3 class="text-danger" role="alert">
                    <strong>
                        @Model.LoanPaymentAlreadyExists
                    </strong>
                </h3>
            }


            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>



</body>
</html>