@using Web_App_BMS.DTOs;
@model CustomerDTO;

@{
    ViewData["Title"] = "Add a customer";
}

<html>
   
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <h2>Add a customer</h2>
        <form asp-action="AddCustomer" method="post">

            <div class="form-group">
                <label asp-for="CustomerName">Customer's name</label>
                <input asp-for="CustomerName" class="form-control" id="text" placeholder="Enter name">

                <h4 class="text-danger" role="alert">
                    <span id="error" asp-validation-for="CustomerName"></span>
                </h4>

            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth">Customer's date of birth</label>
                <input type="date" class="form-control" id="date" placeholder="Enter date of birth" asp-for="DateOfBirth">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="DateOfBirth"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Customer's phone number</label>
                <input type="text" class="form-control" id="text" placeholder="Enter phone number" asp-for="PhoneNumber">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="PhoneNumber"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="AccountBalance">Customer's account balance</label>
                <input type="number" class="form-control" id="number" placeholder="Enter account balance" asp-for="AccountBalance">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="AccountBalance"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="AccountType">Customer's account type</label>
                <input type="text" class="form-control" id="text" placeholder="Enter account type" asp-for="AccountType">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="AccountType"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchName">Branch name</label>
                <input type="text" class="form-control" id="text" placeholder="Enter branch name" asp-for="BranchName">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchName"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchAddress">Branch address</label>
                <input type="text" class="form-control" id="text" placeholder="Enter branch address" asp-for="BranchAddress">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchAddress"></span>
                </h4>
            </div>

            <div class="form-group">
                <label asp-for="BranchAssets">Branch assets</label>
                <input type="number" class="form-control" id="number" placeholder="Enter branch assets" asp-for="BranchAssets">
                <h4 class="text-danger" role="alert">
                    <span asp-validation-for="BranchAssets"></span>
                </h4>
            </div>
            @if (@Model != null && @Model.NotFoundPropertyMessage != null)
                {
                    <h3 class="text-danger" role="alert">
                        <strong>
                            @Model.NotFoundPropertyMessage
                        </strong>
                    </h3>
                }

            @if(@Model != null && @Model.UserAlreadyExists != null)
            {
                <h3 class="text-danger" role="alert">
                    <strong>
                        @Model.UserAlreadyExists
                    </strong>
                </h3>
            }

            
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>



</body>
</html>